- load cache
- load i18n
- load rating

thead
    tr
        th.header.rank #{rank_header|default:_("Rank")}
        block after_rank_head
        th Avatar
        th.header.username {% trans "Username" %}
        th.header.lang {% trans "Language" %}
        block before_point_head
        if sort_links
            th.header.points: a(href=sort_links['performance_points']) {% trans "Points" %}#{sort_order.performance_points}
        else
            th.header.points {% trans "Points" %}
        block after_point_head
tbody
    for rank, user in users
        tr(id='user-{{ user.user.profile.name }}')
            td #{rank}
            block after_rank
            td.user-avatar
                if user.avatar
                    img(src=user.avatar)
            td.user-name(class='rating {{ user.rating|rating_class }} {{ user.display_rank }}')
                if request.user.is_authenticated and request.user.is_superuser
                    a(href='{% url "user_page" user.user.username %}') #{user.user.profile.name}
                else
                    a(href='#') #{user.user.profile.name}
            td.lang
                =user.language
            block before_point
            block point
                td.user-points(title='{{ user.performance_points|floatformat:2 }}') #{user.performance_points|floatformat:0}
            block after_point
